@tailwind base;
@tailwind components;
@tailwind utilities;

/* -- Base -----------------------------------------------------------------*/

@layer base {
  li {
    @apply text-sm lg:text-base list-none;
  }

  p {
    @apply text-base lg:text-[1.15rem];
  }

  html {
    @apply scroll-smooth bg-black;
  }

  body {
    @apply font-primary font-regular tracking-[1.5px] bg-black text-black scroll-smooth;
  }

  main {
    @apply bg-white min-h-[70vh];
  }

  section {
    @apply my-24;
  }

  section:last-child,
  section:first-child {
    @apply my-0;
  }

  footer ul {
    @apply flex flex-col items-start;
  }

  footer ul li {
    @apply flex-row-center text-grey hover:text-white transition-all cursor-pointer my-1;
  }

  footer ul li a {
    @apply flex-row-center;
  }
  footer ul li .adress {
    @apply flex justify-center items-start;
  }

  footer h4 {
    @apply title-4 text-white mb-2;
  }

  .description p {
    @apply text-sm lg:text-base text-black-hover mb-2 last:mb-0;
  }

  .faq p {
    @apply text-sm lg:text-base text-dark-grey px-7;
  }

  .loader.white {
    background-image: conic-gradient(transparent 25%, #ffff 50%);
  }
  .loader.black {
    background-image: conic-gradient(transparent 25%, #0f0f0f 50%);
  }
}

::-webkit-scrollbar {
  @apply w-[10px] max-[450px]:w-[5px];
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-track-piece {
  @apply bg-white;
}

::-webkit-scrollbar-thumb {
  @apply bg-grey rounded-[2.5px];
}

/* -- Swiper -------------------------------------------------------------- */

.swiper-thumbs .swiper-wrapper {
  justify-content: center !important;
}

.swiperSlide {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.swiper-thumbs .swiper-slide {
  @apply opacity-70 brightness-[.90] cursor-pointer;
}
.swiper-thumbs .swiper-slide-thumb-active {
  @apply opacity-90 brightness-100;
}

.swiper-button-next,
.swiper-button-prev {
  color: #0f0f0f !important;
  transition: color 300ms linear !important;
  transform: scale(0.75) !important;
  /* @apply text-black hover:text-black-hover transition-colors duration-75 scale-75 drop-shadow-[0_5px_5px_#ffff] */
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  color: #0f0f0f99 !important;
}

.swiper-button-next {
  @apply right-0;
}

.swiper-button-prev {
  @apply left-0;
}

/* -- Image Preview -------------------------------------------------------------- */

.ant-image-preview-operations {
  @apply bg-black;
}

.ant-image-preview-operations-operation-flipY,
.ant-image-preview-operations-operation-flipX,
.ant-image-preview-operations-operation-rotateLeft,
.ant-image-preview-operations-operation-rotateRight {
  @apply hidden;
}

.ant-image-preview-operations-progress {
  @apply max-[500px]:left-[35px];
}

/* -- Collapse -------------------------------------------------------------- */

.ant-collapse {
  @apply w-[90vw] sm:w-[80vw] border-none bg-transparent rounded-none;
}

:where(.css-dev-only-do-not-override-14wwjjs).ant-collapse
  > .ant-collapse-item:last-child
  > .ant-collapse-header,
:where(.css-dev-only-do-not-override-14wwjjs).ant-collapse
  > .ant-collapse-item {
  border-radius: 0 !important;
  border-color: #0f0f0f7c;
}

.ant-collapse-expand-icon {
  @apply text-red;
}

.ant-collapse-header-text {
  @apply text-base lg:text-lg font-bold;
}

.ant-collapse .ant-collapse-content {
  @apply border-t-0;
}

.ant-collapse-header {
  place-items: center !important;
}

/* -- Select -------------------------------------------------------------- */

.ant-select-selector,
:where(.css-dev-only-do-not-override-14wwjjs).ant-select-single:not(
    .ant-select-customize-input
  )
  .ant-select-selector {
  border-radius: 0 !important;
  border: 2px #0f0f0f solid !important;
  height: 43px !important;
}

.ant-select-selection-item {
  display: flex !important;
  align-items: center !important;
}

.ant-select-dropdown,
.ant-select-item.ant-select-item-option {
  border-radius: 0 !important;
  align-items: center !important;
}

.ant-select-item.ant-select-item-option {
  align-items: center !important;
}

.ant-select-item.ant-select-item-option.ant-select-item-option-selected {
  background-color: #0f0f0f2c !important;
}

.ant-select-selection-item {
  font-weight: 500 !important;
}

/* -- Input Number -------------------------------------------------------------- */

.ant-input-number-input {
  padding: 0px !important;
  text-align: center !important;
}

/* -- Input ---------------------------------------------------------------------- */

.ant-input {
  @apply bg-transparent border-black border-2 rounded-none min-h-[43px];
}

textarea.ant-input {
  @apply min-h-[43px] flex-col-center;
}

.ant-form-item label {
  color: #000000 !important;
}

.ant-input::placeholder {
  @apply text-black-hover;
}

/* Pop Confirm */

.ant-popconfirm-buttons .ant-btn-primary.ant-btn-sm {
  @apply bg-red;
}

.ant-popconfirm-buttons .ant-btn-primary.ant-btn-sm:hover {
  @apply bg-red/75;
}

.ant-popover-inner,
.ant-popconfirm-buttons .ant-btn-primary.ant-btn-sm,
.ant-popconfirm-buttons .ant-btn-default.ant-btn-sm {
  border-radius: 0px !important;
}
/* .MuiAutocomplete-listbox::-webkit-scrollbar-track,
.MuiAutocomplete-listbox::-webkit-scrollbar-track-piece {
  background: transparent !important;
} */

/* -- Components ------------------------------------------------------- */

@layer components {
  /* Titles */

  .title-1 {
    @apply text-[29px] sm:text-3xl md:text-4xl lg:text-5xl uppercase tracking-[1vw] text-center font-extra-bold;
  }

  .title-2 {
    @apply text-3xl lg:text-5xl my-3 font-bold;
  }

  .title-3 {
    @apply text-3xl lg:text-4xl uppercase font-extra-bold;
  }

  .title-4 {
    @apply text-[12px] sm:text-sm md:text-base uppercase font-bold;
  }

  .subtitle-1 {
    @apply text-lg sm:text-xl uppercase font-bold;
  }

  /* Nav */

  .nav-item {
    @apply font-semi-bold text-white cursor-pointer text-[13.5px] h-16;
  }

  .navlg {
    @apply hidden min-[1220px]:flex text-center w-fit flex-row justify-start items-center h-16 flex-1 gap-10;
  }

  .navlg-categories {
    @apply -z-10 absolute opacity-0 group-hover:opacity-100 flex-row-center -translate-y-full group-hover:translate-y-[64px] top-0 left-0 text-center w-screen py-7 space-x-5 border-t-[1.5px] border-grey-hover bg-black transition-all duration-300 ease-out;
  }

  .navlg-categories-li {
    @apply nav-item rounded-sm flex justify-center items-center relative w-fit h-fit;
  }

  .navlg-categories-img {
    @apply object-cover h-full rounded-sm brightness-50 ease-in transition-all duration-700;
  }

  .navmd {
    @apply bg-black w-screen lg:w-[400px] h-screen flex flex-col justify-start items-center py-16 space-y-10 absolute top-16 lg:top-[65px] left-0 transition-all duration-700;
  }

  .navmd-li {
    @apply title-4 text-white border-grey-hover py-3 w-[80vw] lg:w-[350px] md:w-[50vw] hover:text-white-hover cursor-pointer;
  }

  .navmd-li-collapse {
    @apply space-y-10 overflow-hidden transition-all duration-200 ease-linear;
  }

  .navmd-li-collapse-span {
    @apply flex-row-center border-y border-grey-hover text-center block border-b-0;
  }

  /* Card */

  .card-image {
    @apply w-[80vw] min-[640px]:w-[25vw] min-[1080px]:w-[20vw] aspect-[3/2] overflow-hidden flex justify-center items-center;
  }
  .second-image {
    transition: opacity 0.3s linear;
  }

  .cards-container {
    @apply grid grid-cols-1 gap-[70px] mb-20 min-[640px]:grid-cols-2 min-[1080px]:grid-cols-3 min-[640px]:gap-[2vw] justify-center;
  }

  /* Whatsapp */

  .whatsapp-container {
    @apply z-10 fixed bottom-7 left-7 flex flex-col justify-end items-start;
  }

  .whatsapp-button {
    @apply min-w-[50px] min-h-[50px] rounded-full bg-whatsapp flex items-center justify-center hover:scale-105 transition-all duration-100;
  }
  .whatsapp-dialog {
    @apply w-[300px] h-[350px] shadow-lg rounded-lg my-5 flex-col-center overflow-hidden transition-all duration-300 ease-in-out;
  }
  .whatsapp-dialog-header {
    @apply w-full h-16 bg-whatsapp flex justify-between items-center px-2;
  }
  .whatsapp-dialog-chat {
    @apply flex flex-col flex-1 w-full justify-start items-start bg-white brightness-95;
  }
  .whatsapp-dialog-message {
    @apply p-2 mx-2 my-4 bg-[#c1c1c1] rounded-lg rounded-tl-none text-black font-semi-bold text-xs w-[80%];
  }
  .whatsapp-dialog-bottom-bar {
    @apply flex justify-between items-center w-full h-10 p-2 bg-white gap-3;
  }
  .whatsapp-dialog-text-input {
    @apply flex flex-1 h-full border-none outline-none bg-transparent text-sm justify-center items-center;
  }

  /* Cart */

  .veil {
    @apply w-full h-screen bg-black-hover z-50 fixed top-0 left-0 flex justify-end items-start;
  }

  .cart-sheet {
    @apply z-[55] w-full md:w-[400px] h-screen px-5 bg-white flex flex-col justify-center items-start fixed right-0 top-0;
  }

  .cart-sheet-header {
    @apply w-full h-[65px] flex justify-between items-center border-b border-black;
  }

  .cart-sheet-ul {
    @apply flex w-full flex-1 flex-col justify-start items-start;
  }

  .cart-sheet-li {
    @apply my-5 flex justify-between items-center w-full h-16 h-fit;
  }

  .cart-sheet-img {
    @apply w-[100px] aspect-square overflow-hidden flex justify-center items-center;
  }

  .cart-sheet-bottom {
    @apply flex flex-col w-full justify-center items-center gap-5 py-5 border-t border-t-black;
  }

  /* Other */

  .footer-icon {
    @apply w-4 h-4 mr-3 fill-grey group-hover:fill-white;
  }

  .loader {
    animation: 1s loader linear infinite;
  }

  .button-outline {
    @apply flex-row-center text-sm lg:text-base w-full p-2 border-2 uppercase font-bold transition-all duration-200;
  }

  .button-solid {
    @apply flex-row-center text-sm lg:text-base w-full p-2 bg-black text-white border-2 border-black uppercase font-bold hover:bg-black-hover hover:border-transparent transition-all duration-200;
  }

  .contact-button {
    @apply button-outline md:w-[49%];
  }
}

@layer utilities {
  .flex-center {
    @apply flex justify-center items-center;
  }

  .flex-row-center {
    @apply flex flex-row justify-center items-center;
  }

  .flex-col-center {
    @apply flex flex-col justify-center items-center;
  }

  .skeleton {
    @apply relative overflow-hidden;
  }
}

.skeleton {
  animation: shimmer 2s linear infinite;
}

.skeleton::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: -100%;
  z-index: -1;
  background-image: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0,
    rgba(255, 255, 255, 0.03) 20%,
    rgba(255, 255, 255, 0.07) 50%,
    rgba(255, 255, 255, 0.03) 80%,
    rgba(255, 255, 255, 0)
  );
  animation-name: shimmer;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  content: "";
  width: 60px;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes shimmer {
  0%,
  100% {
    opacity: 30%;
  }
  50% {
    opacity: 100%;
  }
}
